<script src="js/product.js"></script>

<div class="container" ng-controller="productController">
<div class="row">
<div class="col-md-8 col-md-offset-2">
    <h1><a href="#/vendor"><span class="fa fa-chevron-left" tooltip="Back to vendor list"></span></a> <span ng-bind="vendorSvc.Vendor.name"></span></h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>Technology</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="p in vendorSvc.Vendor.products">
                <td ng-bind="p.technology"></td>
                <td ng-bind="p.name"></td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</div>